<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <button type="button" class="header">Primary</button>
    <button type="button" class="header2">Secondary</button>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#" (click)="f()">serif</a></li>
      <li><a class="dropdown-item" href="#" (click)="g()">cursive</a></li>
      <li><a class="dropdown-item" href="#" (click)="h()">fantasy</a></li>
    </ul>
  </div>
</nav>
<h1 class="f">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, natus.
  Exercitationem laboriosam expedita ducimus, laborum veniam cumque iste eaque,
  alias aperiam obcaecati ipsam dolor, voluptates quasi amet impedit et soluta.
</h1>