/* You can add global styles to this file, and also import other style files */
// $color-red: rgb(247, 241, 241);
// $color-red: (
//   #cc6698,
//   #0869ad,
//   #ff8300,
//   #7a86b8,
//   #f05133,
//   #2aa9e0,
//   #71bf45,
//   #ef0e39,
//   #9e79d7
// );
// $bg-color-blue: rgb(10, 10, 12);
// $color-green: white;
// $bg-color-green: green;
.header {
  // color: $color-red;
  background-color: var(--wbColor);
}
.header2 {
  //   color: $color-green;
  background-color: var(--ubColor);
}
.f {
  font-family: var(--ravi);
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
